@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  background-color: #0B0A1C;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 2px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  padding-left: 3px;
  margin-bottom: 60px;
  background-color: #252360;
  height: 60px; 
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: #ccc;
}

.header ul li a svg {
  margin-right: 5px;
}

.heading {
  font-size: 1.2rem;
  font-weight: 700;
  border-bottom: 2px solid #fff; 
  padding-bottom: 10px; 
  margin-bottom: 30px;
  padding: 0 20px;
}

.heading p {
  color: #828282;
}

.goals {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.goal {
  background-color: #f4f4f4;
  margin: 10px 0;
  padding: 20px 0 10px;
  position: relative;
}

.goal .close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  border: none;
  background: none;
}

.form,
.content {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
  
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
  color: #000;
}

.form-control{
  background-color: transparent; 
  height: 40px;
  color: white !important; 
}
.form-control::placeholder {
  font-size: 12px; /* Tamaño del texto del placeholder */
}
.form-group label {
  text-align: left;
  margin: 0 0 5px 3px;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #252360;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-header {
  background-color: #252360;
  border: 2px solid white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-header a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.btn-header:hover {
  background-color: #1a1a4d;
}
.search-bar {
  display: flex;
  align-items: center;
  width: 50%;
  background: #252360;
  padding: 5px;
  border-radius: 5px;
}

.search-bar input {
  width: 100%;
  background: transparent;
  border: 2px solid white;
  padding: 8px;
  color: white;
  outline: none;
}

.search-bar button {
  background: transparent;
  border: 2px solid white;
  border-left: 0px solid white;
  padding: 8px 12px;
  cursor: pointer;
}

.search-bar button:hover {
  background: #252360;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  margin-left: 25%;
  width: 50%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
}
.enlacesPaginas{
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
  width: 25%;
  margin: 0;
  flex-wrap: nowrap;
}
.enlace {
  transition: all 0.5s;


}

.enlace a {
  transition: color 0.5s; 
}

.enlace a:hover {
  color: #0B0A1C;
}
.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

.logo {
  margin-top: 2px;
  width: 100px;
  height: auto;  /* Mantener proporciones */
  max-height: 100px;  /* Limita la altura máxima */
  object-fit: contain;  /* Asegura que la imagen se ajuste sin distorsionarse */
  display: block;
}
.login-container {
  background-color: #121130;
  padding: 30px; 
  border-radius: 10px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  max-width: 500px; 
  margin: 0 auto; 
}
.contenedorPadre{
  display: flex;
  justify-content: center;
  gap: 70px;
  position: relative;
}
.contenedorPadre::after{
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 70%; /* Ajusta el tamaño de la línea */
  height: 2px;
  background-color: #ffffff;
  transform: translateX(-50%); /* Centra la línea */
}
.contenedorHijo{

  
}
.separador {
  width: 2px; 
  height: 30px;
  background-color: #ccc; 
  margin: 10px auto;
}

.noAssets{
  margin-top: 20%;
}

.titulo::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background-color: transparent;
  transition: color 0.3s ease;
}
.titulo:hover{
  cursor: pointer;
}

.contenedorHijo.activo .titulo {
  color: #FDF972;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}
